@page "/marecheck"

@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.Common.Enums
@using ChartJs.Blazor.ChartJS.LineChart
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes.Ticks
@using Cloudberry.Data
@using ChartJs.Blazor.Interop
@using ChartJs.Blazor.ChartJS.Common.Handlers
@using Newtonsoft.Json.Linq

@inject MarksDiaryService MarkWeightService
@*<ChartJsLineChart @ref="_lineChart" Config="@_config" Width="600" Height="300"/>*@
<Chart TConfig="LineConfig" Config="config" @ref="lineChart"></Chart>


<select @bind="selectedDayNumber">
    @foreach (var day in diary.Values)
    {
        <option value="@day.DayNumber">Day @day.DayNumber</option>
    }
</select>

@if (selectedDayNumber is object && diary.TryGetValue(selectedDayNumber.Value, out var selectedDay))
{
    <p>Weight: @(selectedDay.Weight) g</p>

    <p>@selectedDay.Note</p>
}

@*<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

@code {

    private LineConfig config;
    private Chart<LineConfig>? lineChart;

    private SortedDictionary<int, Day> diary = new SortedDictionary<int, Day>();
    private int? selectedDayNumber;

    public Marecheck()
    {
        // see: https://github.com/mariusmuntean/ChartJs.Blazor/blob/master/samples/Shared/ChartJs.Blazor.Sample.Shared/Components/LineChart/LinearLineChartComponent.razor

        config = new LineConfig
        {
            Options = new LineOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Markova váha"
                },
                Legend = new Legend
                {
                    Display = false,
                    Position = Position.Right,
                    Labels = new LegendLabels
                    {
                        UsePointStyle = true
                    }
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = false
                },
                Scales = new Scales
                {
                    XAxes = new List<CartesianAxis>
                    {
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Den"
                            },
                            GridLines = new GridLines
                            {
                                Display = true
                            },
                            Ticks = new LinearCartesianTicks
                            {
                                SuggestedMin = 0,
                            }
                        }
                    },
                    YAxes = new List<CartesianAxis>
                    {
                    new LinearCartesianAxis
                    {
                        ScaleLabel = new ScaleLabel
                        {
                            LabelString = "Váha [g]"
                        },
                        Ticks = new LinearCartesianTicks
                        {
                        }
                    }
                }
                },
                Hover = new Hover
                {
                    Intersect = true,
                    Mode = InteractionMode.Y
                },
                //OnClick = new DelegateHandler<ChartMouseEvent>(OnLineClick),
            }
        };
    }

    protected override async Task OnInitializedAsync()
    {
        var days = new SortedDictionary<int, Day>();
        await foreach (var day in MarkWeightService.GetMarkDaysAsync())
        {
            days.Add(day.DayNumber, day);
        }

        var lineset = new LineDataset<Point>(days.Values.Select(day => new Point(day.DayNumber, day.Weight)))
        {
            BorderWidth = 10,
            BorderColor = "#AAAAFF",
        };

        config.Data.Datasets.Add(lineset);
        this.diary = days;
    }

    //void OnLineClick(JObject mouseEvent, JArray activeElements)
    //{

    //}
}