@page "/marecheck"

@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.Common.Enums
@using ChartJs.Blazor.ChartJS.LineChart
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes.Ticks
@using Cloudberry.Data
@using ChartJs.Blazor.Interop
@using ChartJs.Blazor.ChartJS.Common.Handlers
@using Newtonsoft.Json.Linq

@inject MarksDiaryService MarkWeightService

<Chart TConfig="LineConfig" Config="config" @ref="lineChart"></Chart>

<div class="my-4">
    <select class="form-control" value="@selectedDayNumber" @onchange="OnSelectedDayChanged">
        <option value="-1">[Vyber den]</option>
        @foreach (var day in diary.Values)
        {
            <option value="@day.DayNumber">Den @(day.DayNumber) | @(Day.CalculateWeek(day.DayNumber)) | @(day.Date.ToShortDateString()) @(day.Date.DayOfWeek)</option>
        }
    </select>
</div>

<div class="my-4">
    @if (diary.TryGetValue(selectedDayNumber, out var selectedDay))
    {
        <textarea class="form-control" @bind="@selectedDayText" style="height: 200px;"></textarea>

        <button class="btn btn-primary btn-block mt-4" @onclick="SaveChangesAsync" disabled="@(selectedDay.Text != selectedDayText)">Uložit změny</button>

        <div class="my-4">
            @foreach (var imageFilepath in selectedDay.Images)
            {
                <img src="@imageFilepath" alt="@System.IO.Path.GetFileName(imageFilepath)" class="img-thumbnail my-4" />
            }
        </div>
    }
</div>

@*<div class="my-4">
    <button class="btn btn-secondary btn-block mt-4" @onclick="AddTodayAsync" >Přidat dnešní den</button>
</div>*@



@code {

    private LineConfig config;
    private Chart<LineConfig>? lineChart;

    private SortedDictionary<int, Day> diary = new SortedDictionary<int, Day>();
    private int selectedDayNumber = -1;
    private string? selectedDayText = null;

    public Marecheck()
    {
        // see: https://github.com/mariusmuntean/ChartJs.Blazor/blob/master/samples/Shared/ChartJs.Blazor.Sample.Shared/Components/LineChart/LinearLineChartComponent.razor

        config = new LineConfig
        {
            Options = new LineOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Markova váha"
                },
                Legend = new Legend
                {
                    Display = false,
                    Position = Position.Right,
                    Labels = new LegendLabels
                    {
                        UsePointStyle = true
                    }
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = false
                },
                Scales = new Scales
                {
                    XAxes = new List<CartesianAxis>
        {
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Den"
                            },
                            GridLines = new GridLines
                            {
                                Display = true
                            },
                            Ticks = new LinearCartesianTicks
                            {
                                SuggestedMin = 0,
                            }
                        }
                    },
                    YAxes = new List<CartesianAxis>
        {
                    new LinearCartesianAxis
                    {
                        ScaleLabel = new ScaleLabel
                        {
                            LabelString = "Váha [g]"
                        },
                        Ticks = new LinearCartesianTicks
                        {
                        }
                    }
                }
                },
                Hover = new Hover
                {
                    Intersect = true,
                    Mode = InteractionMode.Y
                },
                //OnClick = new DelegateHandler<ChartMouseEvent>(OnLineClick),
            }
        };
    }

    protected override async Task OnInitializedAsync()
    {
        var days = new SortedDictionary<int, Day>();
        await foreach (var day in MarkWeightService.GetMarkDaysAsync())
        {
            days.Add(day.DayNumber, day);
        }

        var lineset = new LineDataset<Point>(days.Values.Where(day => day.Weight.HasValue).Select(day => new Point(day.DayNumber, day.Weight.GetValueOrDefault())))
        {
            BorderWidth = 10,
            BorderColor = "#AAAAFF",
        };

        config.Data.Datasets.Add(lineset);
        this.diary = days;
    }

    void OnSelectedDayChanged(ChangeEventArgs args)
    {
        if (int.TryParse(args.Value?.ToString(), out selectedDayNumber) && diary.TryGetValue(selectedDayNumber, out var selectedDay))
        {
            selectedDayText = selectedDay.Text;
        }
        else
        {
            selectedDayText = null;
        }
    }

    async Task SaveChangesAsync()
    {
        if (selectedDayNumber >= 0 && selectedDayText is object)
        {
            var updatedDay = await MarkWeightService.UpdateMarkDayAsync(selectedDayNumber, selectedDayText);
            diary[selectedDayNumber] = updatedDay;
        }
    }

    //void OnLineClick(JObject mouseEvent, JArray activeElements)
    //{

    //}
}